title #{title}
meta(charset="UTF-8")
meta(http-equiv="X-UA-Compatible" content="IE=edge")
meta(name="viewport" content="width=device-width, initial-scale=1")
meta(name="description" content="#{description}")
meta(name="author" content="")
- var hash = ('0000' + Math.round(Math.random() * (1000))).slice(-4)
link(rel="icon" href="/assets/favicon.ico?"+hash)

//- import external CSS
if extraCSS
  if extraCSS.length > 0
    each css in extraCSS
      link(rel="stylesheet", href=css)