extends ./layouts/_default.pug
block variables
  - var title = '網站首頁'
  - var extraCSS = ['/css/signin.css']
  - var extraJS = []

block content
  form.form-signin
    label.sr-only(for='inputPhone') Mobile Phone
    input#inputPhone.form-control(type='tel', placeholder='Mobile Phone', required='', autofocus='')
    label.sr-only(for='inputName') Name
    input#inputName.form-control(type='text', placeholder='Name', required='')

    button#sendBtn.btn.btn-lg.btn-primary.btn-block(type='submit') send
