extends ./layouts/_default.pug
block variables
	- var title = '網站首頁'
	- var prefix = FILE_PREFIX
	- var extraCSS = [FILE_PREFIX+'css/carousel.css']
	- var imgPrefixUrl = IMG_PREFIX_URL

block content
	#myCarousel.carousel.slide(data-ride='carousel')
		ol.carousel-indicators
			li.active(data-target='#myCarousel', data-slide-to='0')
			li(data-target='#myCarousel', data-slide-to='1')
			li(data-target='#myCarousel', data-slide-to='2')
		.carousel-inner
			.carousel-item.item-bg.active
				.container
					.carousel-caption.text-left
						h1 Example headline.
						p
							| Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget
							| metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
						p
							a.btn.btn-lg.btn-primary(href='#', role='button') Sign up today
			.carousel-item
				svg.bd-placeholder-img(width='100%', height='100%', xmlns='http://www.w3.org/2000/svg', preserveAspectRatio='xMidYMid slice', focusable='false', role='img')
					rect(width='100%', height='100%', fill='#777')
				.container
					.carousel-caption
						h1 Another example headline.
						p
							| Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget
							| metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
						p
							a.btn.btn-lg.btn-primary(href='#', role='button') Learn more
			.carousel-item
				svg.bd-placeholder-img(width='100%', height='100%', xmlns='http://www.w3.org/2000/svg', preserveAspectRatio='xMidYMid slice', focusable='false', role='img')
					rect(width='100%', height='100%', fill='#777')
				.container
					.carousel-caption.text-right
						h1 One more for good measure.
						p
							| Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget
							| metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
						p
							a.btn.btn-lg.btn-primary(href='#', role='button') Browse gallery
		a.carousel-control-prev(href='#myCarousel', role='button', data-slide='prev')
			span.carousel-control-prev-icon(aria-hidden='true')
			span.sr-only Previous
		a.carousel-control-next(href='#myCarousel', role='button', data-slide='next')
			span.carousel-control-next-icon(aria-hidden='true')
			span.sr-only Next

	.container.marketing
		// Three columns of text below the carousel
		.row
			.col-lg-4
				img.rounded-circle(width='140', height='140', src=imgPrefixUrl+'images/soarlin-avatar.jpg', alt="")
				h2 Heading
				p
					| Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies
					| vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus
					| magna.
				p
					a.btn.btn-secondary(href='#', role='button') View details »
			.col-lg-4
				svg.bd-placeholder-img.rounded-circle(width='140', height='140', xmlns='http://www.w3.org/2000/svg', preserveAspectRatio='xMidYMid slice', focusable='false', role='img', aria-label='Placeholder: 140x140')
					title Placeholder
					rect(width='100%', height='100%', fill='#777')
					text(x='50%', y='50%', fill='#777', dy='.3em') 140x140
				h2 Heading
				p
					| Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras
					| mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris
					| condimentum nibh.
				p
					a.btn.btn-secondary(href='#', role='button') View details »
			.col-lg-4
				svg.bd-placeholder-img.rounded-circle(width='140', height='140', xmlns='http://www.w3.org/2000/svg', preserveAspectRatio='xMidYMid slice', focusable='false', role='img', aria-label='Placeholder: 140x140')
					title Placeholder
					rect(width='100%', height='100%', fill='#777')
					text(x='50%', y='50%', fill='#777', dy='.3em') 140x140
				h2 Heading
				p
					| Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta
					| felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum
					| massa justo sit amet risus.
				p
					a.btn.btn-secondary(href='#', role='button') View details »
			// START THE FEATURETTES
			hr.featurette-divider
			.row.featurette
				.col-md-7
					h2.featurette-heading
						| First featurette heading.
						span.text-muted It’ll blow your mind.
					p.lead
						| Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod
						| semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus
						| commodo.
				.col-md-5
					svg.bd-placeholder-img.bd-placeholder-img-lg.featurette-image.img-fluid.mx-auto(width='500', height='500', xmlns='http://www.w3.org/2000/svg', preserveAspectRatio='xMidYMid slice', focusable='false', role='img', aria-label='Placeholder: 500x500')
						title Placeholder
						rect(width='100%', height='100%', fill='#eee')
						text(x='50%', y='50%', fill='#aaa', dy='.3em') 500x500
			hr.featurette-divider
			.row.featurette
				.col-md-7.order-md-2
					h2.featurette-heading
						| Oh yeah, it’s that good.
						span.text-muted See for yourself.
					p.lead
						| Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod
						| semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus
						| commodo.
				.col-md-5.order-md-1
					svg.bd-placeholder-img.bd-placeholder-img-lg.featurette-image.img-fluid.mx-auto(width='500', height='500', xmlns='http://www.w3.org/2000/svg', preserveAspectRatio='xMidYMid slice', focusable='false', role='img', aria-label='Placeholder: 500x500')
						title Placeholder
						rect(width='100%', height='100%', fill='#eee')
						text(x='50%', y='50%', fill='#aaa', dy='.3em') 500x500
			hr.featurette-divider
			.row.featurette
				.col-md-7
					h2.featurette-heading
						| And lastly, this one.
						span.text-muted Checkmate.
					p.lead
						| Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod
						| semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus
						| commodo.
				.col-md-5
					svg.bd-placeholder-img.bd-placeholder-img-lg.featurette-image.img-fluid.mx-auto(width='500', height='500', xmlns='http://www.w3.org/2000/svg', preserveAspectRatio='xMidYMid slice', focusable='false', role='img', aria-label='Placeholder: 500x500')
						title Placeholder
						rect(width='100%', height='100%', fill='#eee')
						text(x='50%', y='50%', fill='#aaa', dy='.3em') 500x500
			hr.featurette-divider
