block variables
doctype html
html(lang="zh-TW")
  head
    include ../partials/_head.pug
  body
    include ../partials/blog/_header.pug

    main.container(role="main")
      block content

    include ../partials/blog/_footer.pug

    //- import external JS
    if extraJS
      if extraJS.length > 0
        each js in extraJS
          script(src=js)
