block variables
doctype html
html(lang="zh-TW")
  head
    include ../partials/_head.pug
  body
    .container
      include ../partials/_blog_header.pug

    main.container(role="main")
      block content

    include ../partials/_blog_footer.pug
