block variables
doctype html
html(lang="zh-TW")
  head
    include ../partials/_head.pug
  body
    include ../partials/_navbar.pug

    block content

    include ../partials/_footer.pug

    //- import external JS
    if extraJS
      if extraJS.length > 0
        each js in extraJS
          script(src=js)
