/* large desktop */
$desktop-lg-min: 1200px;
/* normal desktop range */
$desktop-max:    1199px;
$desktop-min:     992px;
/* tablet range */
$tablet-max:      991px;
$tablet-min:      768px;
$mobile-max:      767px;
$mobile-min:      480px;

$baseFontSize: 10px;